* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --sb-width: 300px;

    --main: rgb(127, 48, 176);
    --btn-mb-0: rgb(66, 9, 102, 0);
    --btn-mb-1: rgb(66, 9, 102, 1);
    --sb-bg: rgb(93, 77, 134, 0.5);
}

html {
    overflow: hidden;
    background-color: orange;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

@keyframes from50to100opacity {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}